<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DashboardNavigationController</servlet-name>
        <servlet-class>controller.dashboard.DashboardNavigationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListDashboardController</servlet-name>
        <servlet-class>controller.dashboard.admin.user.UserListDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardProfileController</servlet-name>
        <servlet-class>controller.dashboard.DashboardProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDashboardController</servlet-name>
        <servlet-class>controller.dashboard.admin.SettingDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorHandleController</servlet-name>
        <url-pattern>/error-handle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.service.manager.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceCreateController</servlet-name>
        <servlet-class>controller.service.manager.ServiceCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceUpdateController</servlet-name>
        <servlet-class>controller.service.manager.ServiceUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListPublicController</servlet-name>
        <servlet-class>controller.service.publi.ServiceListPublicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationListController</servlet-name>
        <servlet-class>controller.reservation.ReservationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>controller.slider.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.common.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>controller.auth.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailController</servlet-name>
        <servlet-class>controller.reservation.ReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlider</servlet-name>
        <servlet-class>controller.slider.DeleteSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.common.AjaxProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailsPublicController</servlet-name>
        <servlet-class>controller.service.publi.ServiceDetailsPublicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>controller.blog.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSliderController</servlet-name>
        <servlet-class>controller.slider.AddSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSliderController</servlet-name>
        <servlet-class>controller.slider.UpdateSliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailDelete</servlet-name>
        <servlet-class>controller.reservation.ReservationDetailDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandleController</servlet-name>
        <servlet-class>exception.ErrorHandleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.dashboard.admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/services/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListPublicController</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationListController</servlet-name>
        <url-pattern>/ReservationListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/slider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailController</servlet-name>
        <url-pattern>/reservationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ajax-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailsPublicController</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlider</servlet-name>
        <url-pattern>/DeleteSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blogdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSliderController</servlet-name>
        <url-pattern>/addslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSliderController</servlet-name>
        <url-pattern>/updateslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceCreateController</servlet-name>
        <url-pattern>/servicecreate/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceUpdateController</servlet-name>
        <url-pattern>/serviceupdate/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailDelete</servlet-name>
        <url-pattern>/ReservationDetailDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardNavigationController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListDashboardController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/error-handle</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>DashboardProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDashboardController</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
