<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>controller.service.manager.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListPublicController</servlet-name>
        <servlet-class>controller.service.publi.ServiceListPublicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.auth.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationListController</servlet-name>
        <servlet-class>controller.reservation.ReservationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderListController</servlet-name>
        <servlet-class>controller.slider.SliderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.blog.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.common.HomePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlider</servlet-name>
        <servlet-class>controller.slider.DeleteSlider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetails</servlet-name>
        <servlet-class>controller.service.manager.ServiceDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.common.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailsPublicController</servlet-name>
        <servlet-class>controller.service.publi.ServiceDetailsPublicController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/ServiceListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListPublicController</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationListController</servlet-name>
        <url-pattern>/ReservationListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderListController</servlet-name>
        <url-pattern>/SliderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/BlogListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlider</servlet-name>
        <url-pattern>/DeleteSlider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetails</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailsPublicController</servlet-name>
        <url-pattern>/ServiceDetails/service</url-pattern>
    </servlet-mapping>
</web-app>
